body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #f4f4f4;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

main {
    flex: 1;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #16793c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


header, footer {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #f0f0f0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left; /* Align text to the left */
}

.input-group input {
    width: calc(100% - 22px); /* Make the input box wider */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
